#main_container {
    display: flex;
}

#designer_container {
    /* border: 1px solid black; */
    flex:3;
    height: 100vh;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#properties_container {
    /* border: 1px solid red; */
    flex: 1;
    height: 100vh;
}

#side_menu_container {
    flex:1;
    height: 100vh;
    background-color: rgb(243, 247, 251);
    /* border: 1px solid green; */
}