#main_container {
    display: flex;
}

#designer_container {
    border: 1px solid black;
    flex:2;
    height: 100vh;
}

#properties_container {
    border: 1px solid red;
    flex: 1;
    height: 100vh;
}

#side_menu_container {
    flex:1;
    height: 100vh;
    border: 1px solid green;
}